body
{ padding:0px;
  margin : 0px;
}

.navbar
{
	background-color:#393;
}

.navbar-brand
{
	padding-left:10px;
	color:#096;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
	font-weight:bold;
	
}
.navbar-brand-subtitle{
  font-size: 1.2rem;
  font-weight: bold;
  font-family: sans-serif;
}

.navbar-nav{
  margin-left: 75px;
  font-weight: bold;
  font-family: sans-serif;
  color:#000;
}

.dropdown-menu{
  background-color:#360;
  color: #ffffff;
}

.dropdown-menu:hover{
  background-color: #999;
}

.container{
  padding:0;
  margin:10px;;
}
.aside-section1{
  margin:0;
  padding-top: 20px;
  padding-left: 85px;
}

.main-image{
  width: 1200px;
  height: 540px;
}

.side-header{
  background: #0C6;
  font-family:"Open Sans", sans-serif;
  padding: 20px 0 15px 22px;
  font-stretch: semi-condensed;
}


.side-header1{
  background: #0C6;
  font-family:"Open Sans", sans-serif;
  padding: 20px 0 15px 22px;
  font-stretch: semi-condensed;
  margin-top: 20px;
}

.new{
  background: skyblue;
}

.social-item-content{
  padding-top: 13px;
  font-size: 0.8rem;
  font-weight: bold;
  padding-right: 0px;
}

.fb-icon{
  padding-top: 5px;
  padding-bottom: 5px;
  color: #ffffff;
}

.aside-section{
  padding-right: 100px;
}

.social-item{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 3px 0;
}

.social-following-chart{
  background: #ffffff;
  padding: 3px 32px ;
  margin-top: 15px;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.aside-image1{
  width: 363px;
  height: 200px;
  margin: 0;
  padding:0;
}

.aside-catalog-content{
  background:#999;
  text-align:center;
  padding: 18px 48px;
}

.catalog-content-head{
  padding: 5px;
}

.contentbox-on-image{
  width: 690px;
  height: 246px;
  top: 415px;
  left: 115px;
  box-shadow:#0C6;
  position: absolute;
  background: #ffffff;
  text-align: center;
}

.sec-1{
  position: relative;
}

.article-box-image{
  padding: 30px 85px 5px 85px;
}

.article-box-link{
  padding-bottom: 10px;
  text-decoration: underline;
}

a{
  color:#0C6;
  font-weight: lighter;
}

a:hover{
  color: #0C6;
}

.article-box-header{
  font-weight: bold;
  padding:0 20px;
}

.article-box-content{
  color:rgb(167,167,167);
  padding-top: 6px;
  font-weight:400;
  font-size: 0.88rem;
}

.article-box-footer{
  color: rgb(167, 167, 167);
  font-weight: normal;
  padding-top: 20px;
  font-size: 0.9rem;
}

.fa-clock{
  color: rgb(167, 167, 167);
  padding-right: 4px;
}

.sec-2{
  padding-top: 150px;
  margin: 0;
}

.card{
  border-radius: 0;
  border: 0;
}

.sport-card{
  padding: 10px;
}

.card-image{
  border-radius: 0;
  height:150px;
  width:286px;
  font-size:16px;
}

.card-link{
  padding:15px 0 0 20px;
  text-decoration: underline;
  font-size:1.25rem;
  height:457;
  width:288;
}

.card-link:hover{
  text-decoration: underline;
  font-size:1.25rem;
  height:175px;
  width:286px;
}

.card-body{
  padding: 10px 20px 0 20px;
}

.card-title{
 
  font-size:1.25rem;
  height: 55px;
}

.card-box-content{
  color: rgb(167, 167, 167);
  font-weight:400;
  font-size: 0.90rem;
  height: 65px;
}

.dropdown-divider{
  padding-top: 13px;
  margin:0;
}

.card-footer-ls{
  color: rgb(167, 167, 167);
  font-size: 0.90rem;
  display: inline-block;
  text-align: left;
}

.card-footer-rs{
  color: rgb(167, 167, 167);
  font-size: 0.90rem;
  display: inline-block;
  margin: 0;
  padding-left: 40px;
}

.sec-3{
  padding: 0;
  margin:0;
}

.sec-3 header{
  margin-bottom: 20px;
}

.sec-3 .contentbox-on-image{
  top: 1600px;
}

.row{
  margin: 0;
}

.first-card{
  padding-left: 0;
}

.third-card{
  padding-right: 0;
}
